* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-vector/enter-otp-concept-illustration_114360-7877.jpg?t=st=1727706382~exp=1727709982~hmac=117714c0e64105626e8de97837d4b81b965625c39bf57c389a6b51f76c358e28&w=740'); /* Add the image URL here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="number"] {
  width: 50%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.result p {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

#otpDisplay {
  font-weight: bold;
  color: #007bff;
}
